<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
    	<title>Team 9, We So Fine</title>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    	<link href="/css/test.css" th:href="@{css/test.css}"
			rel="stylesheet" media="screen" />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="/js/create-load.js"></script>
		<style type="text/css">
			table, th, td {
   	 			border: 1px solid black;
   	 			align: center;
			}
		</style>
	</head>
	<body>
    	<div style="text-align: center">
    		<p>Create a new group </p>
			<form>
				Nickname: <input type="text" name="nickname"></input>
				Gender: <select name="gender">
  							<option value="MALE">Male</option>
  							<option value="FEMALE">Female</option>
  							<option value="OTHER">Other</option>
						</select>
				Orientation: <select name="orientation">
  							<option value="HOMO">Homosexual</option>
  							<option value="HETERO">Heterosexual</option>
  							<option value="BI">Other</option>
						</select>
				<input type="submit" name="submit"></input>
			</form>
			<table id="table" border='1' align="center"></table>
		</div>
	</body>
</html>